@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background: url(/trade.jpeg) rgb(255 255 255 / 80%) center no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

a.nav-link {
    color: #fff;
}

.main {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0,0,0,0.12);
}

.content {
    margin-top: 5rem!important;
    margin-bottom: 5rem!important;
}

#hero-banner {
    display: block;
    width: 100%;
    height: 200px;
    background: url(/logistics-hero.jpeg) center no-repeat;
    background-size: cover;
    align-content: center;
    margin-bottom: 20px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

button.accordion-button {
    font-weight: 600;
    text-transform: capitalize;
}

.form-label {
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 20px;
}

.form-label {
    font-weight: 400;
}

form button,
.accordion-body button {
    width: 100%;
    margin-bottom: 20px;
}

.event-details {
    background: #fefefe;
    padding: 10px;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.event-details:first-of-type {
    margin-top: 10px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}

.alert.show {
    max-height: 400px;
    overflow-y: scroll;
}